<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Static Content" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
